<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription utilisateur</title>
</head>
<body>
    <h2>Inscription utilisateur</h2>
    <form action="../controller/inscription.php" method="post">
        <label>Numéro cin utilisateur</label><br>
        <input type="text" name="cinuser" required><br><br>

        <label>Nom utilisateur</label><br>
        <input type="text" name="nomuser" required><br><br>

        <button type="submit">Enregistrer</button>
    </form>
    <p><a href="liste.php">Afficher la liste</a></p>
</body>
</html>
